@model IEnumerable<Pentagon.Models.vehicle>

@{
    ViewBag.Title = "Model";
}

<hr />
<hr />
@{foreach (var i2 in Model.Select(a => a.make).Distinct())
    {

        foreach (var item in Model.Where(b => b.make.Equals(@i2)).Select(a => a.model).Distinct())
        {
            <h2>@i2 @item</h2>

            <table class="table">
                @foreach (var i in Model.Where(a => a.make.Equals(@i2)))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => i.vehiclesStockNumber)) |

                            @Html.DisplayFor(modelItem => i.vehicleIdentificationNumber) |

                            @Html.DisplayFor(modelItem => i.year) |

                            @Html.DisplayFor(modelItem => i.model) |

                            @Html.DisplayFor(modelItem => i.trimLevel)

                        </td>
                    </tr>
                }
            </table>
        }
    }
}
