@model Pentagon.Models.vehicle

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<hr />
<h2>Details</h2>

<div>
    <h4>vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vehicleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehicleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vehicleIdentificationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehicleIdentificationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vehiclesStockNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehiclesStockNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.trimLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trimLevel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.vehicleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
